*{
    box-sizing: border-box;
    margin: 0;
    padding-left: 0;
}
/* nav{
    display:flex;
    background-color: #333;
    color:aliceblue;
    padding:1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
} */
.main-container{
    border: 1px solid black;
    max-width: 600px;
    margin: auto;
    height: auto;
    padding: 0.6rem;
    /* margin-top: 3rem; */
}
.post-container {
   border: 2px solid grey;
   box-shadow: 2px 2px 5px #333;
   max-width: 350px;
   margin:1rem auto;
}
.card-img img{
    width: 100%;
    height: auto;
}
.card-text{
    padding: 0.6rem 0.3rem;
}

.post-btn {
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    margin-top: 0.6rem;
    background-color: violet;
    color: lavender;
  }