.user-container {
  display: flex;
  max-width: 700px;
  margin: auto;
}
.left-container {
  flex-basis: 50%;
  background-size: cover;
  padding: 1rem;
  align-items: center;
}
.right-container {
  flex-basis: 50%;
  padding: 1rem;

  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.user-img {
  height: 10vh;
  width: 5rem;
}
.userdetail {
  margin-top: 3rem;
  text-align: start;
}
.userdetail > span {
  display: block;
  font-weight: 800;
  font-size: 1.1rem;
}
.user-img > img {
  width: 100%;
}
.post-input {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  margin-top: 1rem;
  border: 1px solid #E2E8F0;
  border-radius: 5px;
  box-shadow:2px 2px 6px gray;
}

.post-textarea {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  margin-top: 0.8rem;
  border: 1px solid #E2E8F0;
  border-radius: 5px;
  box-shadow:2px 2px 6px gray;
}

.like-btn {
  border: none;
  outline: none;
  padding: 0.4rem 0.7rem;
  font-size: 0.8rem;
  border-radius: 5px;
  margin-top: 0.6rem;

}
.post-btn {
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  margin-top: 0.8rem;
  background-color: #333;
  color: #fff;
  width:50%;
}